html {
	background-image: url(../../Assets/Photos/GFXR0031.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	image-rendering: optimizeSpeed;
	background-size: cover;
	transition: 2s;
}
div {
	display: grid;
	margin: 0 auto;
}