#nav-bar {
   background-color: rgba(85, 193, 207, 0.74);
    width: 100%; 
    margin: 0;
    padding: 5px 0;
    opacity: .4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title {
    color: rgb(255, 255, 255);
    padding: 0 2%;
    stop-opacity: 0;
}