div {
	background-color: lightgray;
}
.weather{
    /* display: grid; */
    background-color: rgb(243, 242, 242);
	grid-column: 1;
	grid-row: 2 / span 2;

}
button {
	border: 0;
	width: 14%;
	margin: 0;
}
button:hover {
	background-color: rgb(78, 143, 180);
	border: 0;
}
